:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

}

body {
  margin: 0
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 36px;
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden; 
}

.text {
  animation: scrollTranslation 20s linear infinite; 
  white-space: nowrap;
}

@keyframes scrollTranslation {
  0% {
      transform: translateX(500px); 
  }
  100% {
      transform: translateX(-1000px); 
  }
}


.icon-container {
  position: relative;
  display: inline-block;
}

  .normal-icon {
    position: absolute;
    top: 30%;
    left: 3%;
    transform: translate(-50%, -50%);
  }
  


.hover-icon {
  display: none; /* ホバー時に非表示 */
  position: absolute;
  top: 0;
  left: 0;
}

.icon-container:hover .normal-icon {
  display: none; /* ホバー時に通常のアイコンを非表示 */
}

.icon-container:hover .hover-icon {
  display: inline-block; /* ホバー時にホバー用のアイコンを表示 */
}

.icon-home-container {
  position: relative;
  display: inline-block;
}

  .normal-home-icon {
    position: absolute;
    top: 20%;
    left: 3%;
    transform: translate(-50%, -50%);
  }
  


.hover-home-icon {
  display: none; /* ホバー時に非表示 */
  position: absolute;
  top: 0;
  left: 0;
}

.icon-home-container:hover .normal-icon {
  display: none; /* ホバー時に通常のアイコンを非表示 */
}

.icon-home-container:hover .hover-icon {
  display: inline-block; /* ホバー時にホバー用のアイコンを表示 */
}

